// COLORS
$black: #000000;
$cornsilk: #fefae0;
$davys-grey: #495057;
$gray-platinium: #e5e5e5;
$light-gray: #ced4da;
$oxford-blue: #14213d;
$orange-web: #fca311;
$white: #ffffff;
$body-color: #14213d;

// FONTS
$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

// OPACITY
$almost-opaque: 0.95;
$lightly-transparent: 0.8;
$opaque: 1;
$transparent: 0/0;

// SPACING
$spacing: 2rem;

