#bookings-index {

  .container {
    background: rgba(233, 236, 239, 0.3);
  }

  .bookings-title {
        display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    color: $cornsilk;
    background-color: none;
    // overflow-wrap: anywhere;

    tr,
    td {
      text-align: center;
    }
  }

  .table-responsive {
    box-shadow: 5px 5px 5px 5px $black;
    border-radius: 5px;
    background: $cadet-blue-crayola;
  }

}