  #schedule-card {
    background: $orange-web;
    color: $cornsilk;
    opacity: $lightly-transparent;
    border: none;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px $black;

    .card-image {
      position: relative;
      text-align: center;
      color: $cornsilk;

      .schedule-time {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: $font-weight-bolder;
        font-size: xxx-large;
      }
    }

    .card-body {
      padding: $spacing;
    }
  }

  #schedules-index {
    margin: 5% 5% 5% 5%;

    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }

    .schedule {
      border: solid $cornsilk;
      background: transparent;
      width: fit-content;
    }
  }