<<<<<<< HEAD
=======
.btns {
    position: absolute;
    top: 216px;
    left: 328px;
}

.btn {
    background: transparent;
    border: none;
    margin: 87px,
    font-size: 200px;
    outline: non;
    color: blue;
}

.btn i:hover {
    cursor: pointer;
    color: 
}
>>>>>>> 32dad0a2b6d0c1426494527abb6c0b8182c9ffdc
// .buttons link:nth-child(1){
//        b
//        color:$orange-web;
//        height:40px;
// }

// .buttons link:nth-child(1):hover{
//        border:1px solid #8E24AA !important;
//        color:#fff;
//        height:40px;
//        background-color:#8E24AA;
// }

// .buttons link:nth-child(2){
//        border:1px solid #8E24AA !important;
//        background-color:#8E24AA;
//        color:#fff;
//         height:40px;
// }

// .btn-back {
//   background-color: $orange-web;
//   border:1px solid $black !important;
//   height:40px;

//   &:hover {
//     background-color: $black
//   }
// }

// .btn-edit {
//   background-color: $black;

//   &:hover {
//     background-color: $orange-web;
//   }
// }
