// .form-profile, .form-account, .form-schedule {
//   display: grid;
//   place-items: center;
// }

#create_user, #edit_user, #edit_trainer, #edit_client {
  input {
    margin: 5px auto 0px auto;
  }

  label {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.form-actions, .form-input {
  margin-top: 10px;
}

