.navbar {
  .nav-link {
    color: $orange-web;
    font-weight: $font-weight-normal;
    cursor: pointer;

    &:hover {
      border: 2px solid $orange-web !important;
      // font-weight: $font-weight-bold;
      color: $cornsilk;
    }
  }

  .dropdown-menu {
    background-color: $oxford-blue;

    .dropdown-item {
      color: $orange-web;
    }
  }
  .active  {
    border: 2px solid $orange-web !important;
    font-weight: $font-weight-bold;
    background: $orange-web;
    color: $cornsilk;
    // background-color: #666;
    // color: white;
  }
}
