<%= turbo_frame_tag @booking do %>
  <div class="booking">
    <div class="booking_header">
      <div class="booking__actions">
        <%= button_to "Delete", [schedule, booking], method: :delete, class: "btn btn--light" %>
        <%= link_to "Edit", [:edit, schedule, booking], class: "btn btn--light" %>
      </div>
    </div>
  </div>
<% end -%>

