/* General Website Style rules */
 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     // box-sizing: inherit;
}

html {
  body {
  background-color: $body-color;
  display: flex;
  flex-direction: column;
  font-family: $georgia;
  color: $cornsilk;
  }
}

h1 {
  font-weight: lighter;
  letter-spacing: 6px;
}
