<div class="py-5">
  <div class="container">
    <h1>Lessons</h1>
    <div id="lessons">
      <div class="row row-cols-1 row-cols-md-3 g-4" >
        <% @lessons.each do |lesson| %>
        <%= render lesson %>
        <% end %>
      </div>
    </div>
  </div>
</div>
