<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col text-center my-5">
        <h1 class="display-4 w-bold ">LESSONS</h1>
      </div>
    </div>
    <div class="row">
      <% @lessons.each do |lesson| %>
        <%= render lesson %>
      <% end %>
    </div>
  </div>
</div>

