<div class="py-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1 class="fw-bold upcase">LESSONS</h1>
    </div>
    <div id="lessons">
      <div class="row row-cols-1 row-cols-md-3 g-4" >
        <% @lessons.each do |lesson| %>
        <%= render lesson %>
        <% end %>
      </div>
    </div>
  </div>
</div>
