<div class="card"  style="width:18rem;">
	<%= image_tag("trainer-default.jpeg", width: '100%', height: '100%', class:"card-img-bottom") %>
	<div class="card-body card-img-overlay text-white">
		<h5 class="card-title"><%= trainer.name %> </h5>
		<p class="card-text"></p>
	</div>
</div>